.appointmentContainer {
  width: 5vw;
  height: 10vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

  .spanBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: #fff;

    span:nth-child(1) {
      font-family: var(--font-sub);
      font-size: var(--font-size-md);
    }
    span:nth-child(2) {
      font-size: var(--font-size-sm);
      font-family: var(--font-main);
    }
  }
  @media (max-width: 1024px) {
    width: 8vw;
    height: 6vh;
    border-radius: 10px;
  }
  @media (max-width: 757px) {
    width: 17vw;
    height: 8vh;
    border-radius: 10px;
  }
  @media (max-width: 375px) {
    width: 16vw;
    height: 9vh;
    border-radius: 10px;

    .spanBox {
      span:nth-child(1) {
        font-family: var(--font-sub);
        font-size: var(--font-size-sm);
      }
      span:nth-child(2) {
        font-size: var(--font-size-xs);
        font-family: var(--font-main);
      }
    }
  }
}

.blackColor {
  background-color: rgb(51, 51, 51);
}

.greenColor {
  background-color: var(--mypage-green);
}

.orangeColor {
  background-color: var(--mypage-orange);
}

.pinkColor {
  background-color: var(--mypage-pink);
}
