.appointmentContainer {
  width: 100px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .spanBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: #fff;

    span:nth-child(1) {
      font-family: var(--font-sub);
      font-size: var(--font-size-md);
    }
    span:nth-child(2) {
      font-size: var(--font-size-sm);
      font-family: var(--font-main);
    }
  }
  @media (max-width: 375px) {
    width: 100px;
    height: 60px;
    border-radius: 10px;
  }
}

.greenColor {
  background-color: var(--mypage-green);
}

.orangeColor {
  background-color: var(--mypage-orange);
}

.pinkColor {
  background-color: var(--mypage-pink);
}
