.pageContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh );
}


.container {
  flex: 1;
  overflow-y: auto;
  padding: 0 40px;
  
}

.buttonWrapper {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.redButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blueButtonWrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


