.pageContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh);

}

.container {
  flex: 1;
  overflow-y: auto;
}

.editButton{
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 10px;
}

.noSettlementContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin: 0 auto; 
  height: 100%; 
}


.noSettlement{
  color: #888; 
  font-size: 18px; 
  text-align: center; 
  margin-bottom: 20px;
}

