.buttonWrapper {
  button {
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10;
    font-size: var(--font-size-md);

    &:disabled {
      opacity: 45%;
      cursor: not-allowed;
    }
  }
  .xsButton {
    width: 50px;
    padding: 5px;
    font-size: var(--font-size-sm);
    border-radius: 7;
  }
  .smButton {
    width: 110px;
    padding: 10px 5px;
  }
  .mdButton {
    width: 85px;
    padding: 18px 0;
  }
  .lgButton {
    max-width: 400px;
    width: 100%;
    padding: 15px;
  }
}
