.container {
  display: flex;
  width: 100%;
  background-color: var(--background-color);
  justify-content: space-between;

  button {
    padding: 15px;
    flex: 1;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: var(--font-size-md);
    font-weight: bold;
    color: var(--grey-4-color);
    text-align: center;
    position: relative;
  }
  
  button:hover {
    color: var(--primary-color);
    cursor: pointer;
  }
  
  button.active {
    color: var(--primary-color);
    // border-bottom: 4px solid ver(--primary-color);
    border-bottom: 4px solid var(--primary-color);
  }
}


