.emailInputContainer {
  display: flex;
  align-items: center;
  width: 100%;

  .inputField {
    flex: 6;
  }

  .atSymbol {
    flex: 0.5;
    text-align: center;
    font-size: var(--font-size-md);
    margin-top: 10px;
  }

  .domainSelect {
    flex: 2.1;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    outline: none;
    font-size: 14px;

    &::placeholder {
      color: #898989;
    }

    &:focus {
      border-color: #2563eb;
    }
  }
}
