.timeVoteContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  user-select: none; // 드레그 금지
  .mainBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    .subtitle {
      font-size: var(--font-size-md);
      font-weight: bold;
      margin: 5vh 0 2vh;
    }

    .description {
      font-size: var(--font-size-sm);
      color: var(--grey-3-color);
      margin-bottom: 5vh;
    }

    .schedule {
      width: 100%;
      .row {
        display: flex;
        margin-bottom: 1vh;
        min-width: fit-content; // 날짜가 많아져도 간견유지
        .timeLabel {
          width: 40px;
          font-size: var(--font-size-sm);
          margin-right: 9px;
          color: var(--grey-3-color);
        }
        .weekDay {
          width: 45px;
          font-size: var(--font-size-sm);
          text-align: center;
          margin-right: 5px;
          color: var(--grey-3-color);
          @media (max-width: 390px) {
            width: 40px;
            margin-right: 4.5px;
          }
          @media (max-width: 375px) {
            width: 37px;
            margin-right: 5px;
          }
        }
        .day {
          width: 45px;
          font-size: var(--font-size-md);
          text-align: center;
          margin-right: 5px;
          margin-bottom: 1vh;
          @media (max-width: 390px) {
            width: 40px;
            margin-right: 4.5px;
          }
          @media (max-width: 375px) {
            width: 37px;
            margin-right: 5px;
          }
        }
      }
    }

    .timeGrid {
      display: flex;
      align-items: flex-start;
      height: 47vh;
      overflow-y: auto; /* 세로 스크롤 활성화 */

      .timeLabels {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45px;

        .time {
          width: 45px;
          height: 45px;
          margin-bottom: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: var(--font-size-md);
          @media (max-width: 390px) {
            width: 40px;
            height: 40px;
          }
          @media (max-width: 375px) {
            width: 37px;
            height: 37px;
          }
        }
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(
          auto-fit,
          minmax(45px, 1fr)
        ); /* ✅ 가로축 날짜 개수만큼 컬럼 생성 */
        gap: 5px;
        margin-left: 3px;

        .cell {
          width: 45px;
          height: 45px;
          background: var(--grey-1-color);
          border-radius: 4px;
          cursor: pointer;
          transition: background 0.2s ease-in-out;
          @media (max-width: 390px) {
            width: 40px;
            height: 40px;
          }
          @media (max-width: 375px) {
            width: 37px;
            height: 37px;
          }

          &.selected {
            background: var(--primary-color);
          }
        }
      }
    }
    .wrapButton {
      width: 100%;
      margin-top: 7vh;
    }
  }
}
