.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kakaoLoginContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.kakaoLoginBtn {
  width: 400px;
  padding: 15px;
  background-color: #ffeb3b;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: relative;

  font-size: var(--font-size-md);
}

.kakaoLogo {
  position: absolute;
  left: 0px;
}
