.schedule {
  height: 60vh;
  .row {
    display: flex;
    margin-bottom: 1vh;
    min-width: fit-content; // 날짜가 많아져도 간견유지
    .timeLabel {
      width: 40px;
      font-size: var(--font-size-sm);
      margin-right: 9px;
      color: var(--grey-3-color);
    }
    .weekDay {
      width: 45px;
      font-size: var(--font-size-sm);
      text-align: center;
      margin-right: 5px;
      color: var(--grey-3-color);
    }
    .day {
      width: 45px;
      font-size: var(--font-size-md);
      text-align: center;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
  .timeGrid {
    display: flex;
    align-items: flex-start;
    height: 35vh;
    overflow-y: auto; /* 세로 스크롤 활성화 */

    .timeLabels {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45px;

      .time {
        width: 45px;
        height: 45px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-md);
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(45px, 1fr)
      ); /* ✅ 가로축 날짜 개수만큼 컬럼 생성 */
      gap: 5px;
      margin-left: 3px;

      .cell {
        width: 45px;
        height: 45px;
        // background: var(--grey-1-color);
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.2s ease-in-out;
        &:hover {
          opacity: 50%;
        }
      }
      .selected {
        border: 1px solid red; // 선택된 셀의 빨간색 테두리
      }
      .noVote {
        background-color: #e0e0e0; // 회색
      }
      .lowVote {
        background-color: var(--primary-color); // 연한 파란색
      }
      .mediumVote {
        background-color: #508ff5; // 중간 파란색
      }
      .highVote {
        background-color: #005ce6; // 진한 파란색
      }
    }
  }
  .votePerson {
    display: flex;
    margin-top: 4vh;
    span {
      font-size: var(--font-size-md);
      font-weight: bold;
      position: sticky;
      top: 0;
      background: var(--grey-2-color);
      display: block;
    }
    .possible {
      color: blue;
    }
    .impossible {
      color: var(--error-color);
    }
    div {
      width: 50%;
      max-height: 15vh;
      overflow-x: auto;
      &:first-child {
        border-right: 2px solid var(--grey-3-color);
      }
      ul {
        margin-top: 20px;
        li {
          margin-bottom: 10px;
        }
      }
    }
  }
}
