.voteResultContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  user-select: none; // 드레그 금지
  .mainBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .subtitle {
      font-size: var(--font-size-md);
      font-weight: bold;
      margin: 4vh 0 3vh;
    }
    .wrapTapButton {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      margin-bottom: 25px;
      .tapButton {
        width: 120px;
        border-radius: 10%;
        button {
          background-color: var(--grey-2-color);
          color: #000;
          width: 60px;
          height: 40px;
          font-size: var(--font-size-sm);
          border: none;
        }
        .selected {
          background-color: var(--primary-color);
          color: var(--background-color);
        }
        .timeButton {
          border-radius: 10 0 0 10;
        }
        .placeButton {
          border-radius: 0 10 10 0;
        }
      }
    }
    .wrapButton {
      width: 100%;
      margin-top: 3vh;
      .ownerButtons {
        display: flex;
        gap: 30px;
      }
    }
  }
}
