.inputField {
  width: 100%;
  height: 100px;

  label {
    display: block;
    margin-bottom: 10px;
    font-size: var(--font-size-md);
  }

  input {
    margin: 0;
    padding: 15px;
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    outline: none;
    font-size: 14px;

    &::placeholder {
      color: #898989;
    }

    &:focus {
      border-color: #2563eb;
    }
  }

  &.errorField input {
    border-color: red;
  }

  .errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }

  .successMessage {
    color: var(--primary-color);
    font-size: 12px;
    margin-top: 4px;
  }
}
